*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-family: sans-serif;
}

.container-acc-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.container-acc-detail .acc-detail{
    width: 670px;
    height: 620px;
    color: black;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    z-index: 99;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    position: relative;
    position: fixed;
    text-transform: capitalize;
    background-color: rgb(239, 239, 239);
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    border-style: none;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.container-acc-detail .acc-detail input{
    color: black;
}

.container-acc-detail .acc-detail .ip-apitalize{
	text-transform: capitalize;
}

.fa-solid{
	color: red;
}

.acc-detail.open-acc-detail{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
.acc-detail .avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
}

.acc-detail .first-info{
    position: absolute;
    right: 10px;
    max-width: 460px;
}

.acc-detail .second-info{
    position: absolute;
    right: 10px;
    top: 15%;
    max-width: 450px;
}

.acc-detail .third-info{
    position: absolute;
    right: 10px;
    top: 29%;
    max-width: 480px;
}

.acc-detail .fourth-info{
    position: absolute;
    right: 10px;
    top: 43%;
}

.acc-detail .five-info{
    position: absolute;
    right: 10px;
    top: 57%;
}

.acc-detail .change-role{
    position: absolute;
    left: 10px;
    top: 77%;
}

.acc-detail .button-account-detail{
    position: absolute;
    right: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 78.5%;
}

.acc-detail .button-account-detail .button-row {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.change-role .role-change-box{
    
    background-image: linear-gradient(to bottom right, #FD8451, #FFBD6F);
    border-radius: 8px;
    height: 125px;
    margin: 10px 20px 20px 20px;
}

.change-role .role-change-box .role-select label{
    color: rgb(0, 0, 0);
   border-radius: 50%;
}

.change-role .role-change-box .role-select .btn-check{
    background-color: antiquewhite;
}
.change-role .role-change-box .role-select input:checked + label{
    color: white;
}

.change-role .role-change-box h5{
    font-weight: 700;
}
