.table-order-body .orderstt{
    /*display: inline-table;*/
    margin: 0px;
    padding: 10px;
    border-radius: 2rem;
    text-align: center;
    width: 300px;
    white-space: nowrap;
}

.table-order-body .orderstt.stt0{
    background-color: #FF004C;
}

.table-order-body .orderstt.stt1{
    background-color: #FAFF4B;
}

.table-order-body .orderstt.stt2{
    background-color: #47F71B;

}

.table-order-body .orderstt.stt3{
    background-color: #0AFFF0;
}

.table-order-body .orderstt.stt4{
    background-color: #05BC5A;
}

.table-order-body .orderstt.stt5{
    background-color: #F66337;
}

