<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>SB Admin - Dashboard</title>
<link th:href="@{../../static/images/icons/favicon.png}" rel="icon" type="image/png" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
	rel="stylesheet">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
	integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Custom fonts for this template-->
<link href="../../static/vendor-admin/fontawesome-free/css/all.min.css"
	rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="../../static/css/adminStyle/sb-admin-2.min.css" rel="stylesheet">
<!-- Custom styles for table -->
<link href="../../static/vendor-admin/datatables/dataTables.bootstrap4.min.css"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{../../static/assets/css/list-account.css}">
<link rel="stylesheet" th:href="@{../../static/assets/css/account-infomatinon.css}">
<link rel="stylesheet" th:href="@{../../static/assets/css/button17.css}">
<link rel="stylesheet" th:href="@{../../static/assets/css/button50.css}">
<link rel="stylesheet" th:href="@{../../static/assets/css/popup.css}">
</head>

<body id="page-top" ng-app="app2" ng-controller="ctrl">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<ul th:replace="~{index :: sidebar}"></ul>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column vh-100">

			<div class="table-list-acc">
				<section class="table-header">
					<h1>Account</h1>
				</section>
				<section class="table-body">
					<table class="tbl-acc">
						<thead>
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th>Email</th>
								<th>Phone</th>
								<th>Authorities
									<form class="auth-select" action="/admin/accounts" method="get">
										<select name="role" th:value="${selectedRole}">
											<option value="All">All</option>
											<option value="ROLE_SALE">Sale</option>
											<option value="ROLE_STOCK">Stock</option>
											<option value="ROLE_USER">User</option>
										</select>
										<button type="submit">
											<i class="fa-solid fa-magnifying-glass"></i>
										</button>
									</form>
								</th>
								<th>Detail</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="acc, iterStat : ${listAccounts}">

								<td>[[${iterStat.count}]]</td>
								<td>
								<img th:if="${acc.photo == null && acc.gender.value == 2} "
									th:src="@{../../static/images/default-avatar-male.png}" alt="img">
								
								<img th:if="${acc.photo == null && acc.gender.value == 1} "
									th:src="@{../../static/images/default-avatar-male.png}" alt="img">
									
								<img th:if="${acc.photo == null && acc.gender.value == 0}"
									th:src="@{../../static/images/default-avatar-female.png}" alt="img">
								[[${acc.name}]] 
								</td>
								<td>[[${acc.email}]]</td>
								<td
									th:text="${acc.phoneNumber == null ? 'Chưa cập nhật' : acc.phoneNumber}"></td>
								<td>
									<p th:each="role : ${acc.roleName}"
										th:class="'auth ' + ${role}">[[${role}]]</p>
								</td>

								<td><a href="#"
									th:attr="ng-click=@{|accDetail.getDetailAccount('${acc.username}')|}"
									class="btn-detail">Xem chi tiết</a></td>
							</tr>

						</tbody>
					</table>
				</section>
			</div>

			<table class="table table-striped">
				<thead>

					<th ng-repeat="role in db.roles">{{role.name}}</th>

				</thead>
				<tbody>
					<tr ng-repeat="acc in db.accounts">
						<th>{{acc.username}}</th>
						<th ng-repeat="role in db.roles"><input type="checkbox"
							ng-checked="index_of(acc.username, role.id) >= 0"
							ng-click="update(acc.username, role.id)"></th>
					</tr>

				</tbody>
			</table>

		</div>
		<!-- End of Content Wrapper -->


	</div>
	<!-- End of Page Wrapper -->



	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready
					to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="/auth/logoff/success">Logout</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Acc detail form  -->
	<div th:fragment="infomation-account" class="container-acc-detail">
		<form class="acc-detail"
			ng-class="{ 'open-acc-detail': isOpenAccDetail }" id="acc-detail"
			action="">
			<img ng-if="avatar != ''" ng-src="{{avatar}}" alt="" class="avatar col-3">
			
			<div class="first-info row col-9">
				<div class="col">
					<label for="inputFirstName" class="form-label">First Name</label> <input
						ng-model="accDetail.userData[0].surname" type="text"
						class="form-control ip-apitalize" id="inputFirstName">
				</div>
				<div class="col-5">
					<label for="inputLastName" class="form-label">Last Name</label> <input
						ng-model="accDetail.userData[0].name" type="text"
						class="form-control ip-apitalize" id="inputLastName"
						placeholder="">
				</div>
			</div>

			<div class="second-info row col-9">
				<div class="col ">
					<label for="inputBirthDay" class="form-label">Birth Day</label> <i
						class="fa-solid fa-triangle-exclamation"
						ng-if="!accDetail.userData[0].dateOfBirth"></i> <input type="date"
						ng-model="accDetail.userData[0].dateOfBirth"
						class="form-control" id="inputBirthDay">
				</div>
				<div class="col-6">
					<label for="gender-select" class="form-label">Gender</label> <i
						class="fa-solid fa-triangle-exclamation"
						ng-if="accDetail.userData[0].gender == 'UNKNOW'"></i> <br>
					<div class="form-check form-check-inline mt-2" id="gender-select">
						<input class="form-check-input" type="radio"
							name="inlineRadioOptions" id="inlineRadio1"
							value="MALE" ng-model="accDetail.userData[0].gender"
							ng-checked="accDetail.userData[0].gender == 'MALE'">
						<label class="form-check-label" for="inlineRadio1">Male</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio"
							name="inlineRadioOptions" id="inlineRadio2"
							value="FEMALE" ng-model="accDetail.userData[0].gender" 
							ng-checked="accDetail.userData[0].gender == 'FEMALE'">
						<label class="form-check-label" for="inlineRadio2">Female</label>
					</div>
				</div>
			</div>

			<div class="third-info row col-10">
				<div class="col">
					<label for="inputFirstName" class="form-label">Phone Number</label>
					<i class="fa-solid fa-triangle-exclamation"
						ng-if="!accDetail.userData[0].phoneNumber"></i> <input type="text"
						ng-model="accDetail.userData[0].phoneNumber"
						 class="form-control" id="inputFirstName">
				</div>
				<div class="col-6">
					<label for="inputLastName" class="form-label">CCCD/CMND</label> <i
						class="fa-solid fa-triangle-exclamation"
						ng-if="!accDetail.userData[0].idCard"></i> <input type="text"
						ng-model="accDetail.userData[0].idCard"
						class="form-control" id="inputLastName" placeholder="">
				</div>
			</div>

			<div class="fourth-info row col-12">
				<div class="col">
					<label for="inputFirstName" class="form-label">Email</label> <input
						ng-model="accDetail.userData[0].email" type="email"
						class="form-control" id="inputFirstName">
				</div>
				<div class="col-6">
					<label for="inputLastName" class="form-label">Home town</label> <i
						class="fa-solid fa-triangle-exclamation"
						ng-if="!accDetail.userData[0].hometown"></i> <input type="text"
						class="form-control ip-apitalize" id="inputLastName"
						ng-model="accDetail.userData[0].hometown"
						placeholder="">
				</div>
			</div>

			<div class="five-info row col-12">
				<div class="col">
					<label for="exampleFormControlTextarea1"
						class="form-label ip-apitalize">Delivery address</label> <i
						class="fa-solid fa-triangle-exclamation"
						ng-if="!accDetail.userData[0].deliveryAddress"></i>
					<textarea class="form-control ip-apitalize" id="exampleFormControlTextarea1"
					ng-model="accDetail.userData[0].deliveryAddress"
						rows="3"></textarea>
				</div>
				<div class="col-6">
					<label for="exampleFormControlTextarea1"
						class="form-label ip-apitalize">Residential Address</label> <i
						class="fa-solid fa-triangle-exclamation"
						ng-if="!accDetail.userData[0].residentialAddress"></i>
					<textarea class="form-control" id="exampleFormControlTextarea1"
					ng-model="accDetail.userData[0].residentialAddress"
						rows="3"></textarea>
				</div>
			</div>

			<div class="button-account-detail ">
				
				<div class="button-row">
					<button class="button-50 cancel-btn50" type="button"
						ng-click="CloseAccDetail()" role="button">Cancel</button>
				</div>
			</div>
<!-- change role -->
			<div sec:authorize="hasAnyRole('ROLE_ADMIN')" 
			th:replace="~{admin-change-role :: admin-change-role}"></div>

		</form>
	</div>

	<div class="popup" ng-class="{ 'open-popup': isPopupOpen }">
		<img th:src="@{../../static/images/icons/tick.png}" alt="">
		<h2>Success</h2>
		<p>The change has been updated, please refresh the page to verify.</p>
		<button type="button" ng-click="closePopup()">OK</button>
	</div>

	<div class="popup-auth-update" ng-class="{ 'open-popup': isAuthPopupOpen }" id="popup">
		<img th:src="@{../../static/images/icons/question_mark_PNG55.png}" alt="">
		<h2>Warning</h2>
		<p>Are you sure about this operation?</p>
		<div class="box-btn">
			<button type="button" class="btn-alert-confirm"
				ng-click = "accDetail.updateRoleUser()">OK</button>
			<button type="button" class="btn-alert-cancel" ng-click = "AuthPopupClose()">Cancel</button>
		</div>
		
	</div>
	
	<div class="popup-auth-update" ng-class="{ 'open-popup': isUpdatePopupOpen }" id="popup">
		<img th:src="@{../../static/images/icons/question_mark_PNG55.png}" alt="">
		<h2>Warning</h2>
		<p>Are you sure about this operation?</p>
		<div class="box-btn">
			<button type="button" class="btn-alert-confirm"
				ng-click = "accDetail.updateDataAccount()">OK</button>
			<button type="button" class="btn-alert-cancel" ng-click = "UpdatePopupClose()">Cancel</button>
		</div>
		
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	<script th:src="@{../../static/authorize/ctrl.js}"></script>
	<script th:src="@{../../static/assets/js/popup.js}"></script>
</body>

</html>