<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Dashboard</title>
    <script
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
            rel="stylesheet">
    
    <!-- Custom fonts for this template-->
    <link href="/vendor-admin/fontawesome-free/css/all.min.css"
          rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/adminStyle/sb-admin-2.min.css" rel="stylesheet">
    <!-- Custom styles for table -->
    <link href="/vendor-admin/datatables/dataTables.bootstrap4.min.css"
          rel="stylesheet">

</head>

<body id="page-top" ng-app="app2" ng-controller="ctrl">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion"
        id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center"
           href="/admin/products">
            <img src="https://assets.website-files.com/60a70f8574f9eb38a2b19c99/643d83dec4b1258659fd0402_apple-authorized-reseller-logo-white.png"
                 style="width: 130px">
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item"><a class="nav-link"
                                href="/admin/index"> <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
        </li>
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active"><a class="nav-link"
                                       href="/admin/products"> <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Products</span></a>
        </li>
        <!-- Nav Item - Dashboard -->
        <li class="nav-item"><a class="nav-link"
                                href="/admin/accounts"> <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Accounts</span></a>
        </li>
        <!-- Nav Item - Dashboard -->
        <li class="nav-item"><a class="nav-link"
                                href="/admin/orders"> <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Orders</span></a>
        </li>

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
    <!-- End of Sidebar -->
	
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column vh-100">
<h3>Authorizing</h3>
    <table class="table table-striped">
        <thead>
        
            <th ng-repeat="role in db.roles">{{role.name}}</th>

        </thead>
        <tbody>
            <tr ng-repeat="acc in db.accounts">
                <th>{{acc.username}}</th>
                <th ng-repeat="role in db.roles">
                    <input type="checkbox" ng-checked="index_of(acc.username, role.id) >= 0"
                        ng-click="update(acc.username, role.id)">
                </th>
            </tr>

        </tbody>
    </table>
        
    </div>
    <!-- End of Content Wrapper -->
    

</div>
<!-- End of Page Wrapper -->



<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top"> <i
        class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready
                to end your current session.
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button"
                        data-dismiss="modal">Cancel
                </button>
                <a class="btn btn-primary" href="/auth/logoff/success">Logout</a>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/authorize/ctrl.js}"></script>

</body>

</html>