<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="dynamic(main)">

<head>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
	integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>SB Admin - Dashboard</title>
<script src="https://www.gstatic.com/charts/loader.js"></script>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<!-- Custom fonts for this template-->
<link href="/vendor-admin/fontawesome-free/css/all.min.css"
	rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="/css/adminStyle/sb-admin-2.min.css" rel="stylesheet">
<!-- Custom styles for table -->
<link href="/vendor-admin/datatables/dataTables.bootstrap4.min.css"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/assets/css/chart.css}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body id="page-top" ng-app="app" ng-controller="ctrl">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<ul th:fragment="sidebar"
			class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion"
			id="accordionSidebar">

			<!-- Sidebar - Brand -->
			<a
				class="sidebar-brand d-flex align-items-center justify-content-center"
				href="/admin/products"> <img
				src="https://theme.hstatic.net/200000462939/1001112173/14/logo.png?v=264"
				style="width: 130px">
			</a>

			<!-- Divider -->
			<hr class="sidebar-divider my-0">

			<!-- Nav Item - Dashboard -->
			<li class="nav-item"><a class="nav-link" href="/admin/index">
					<i class="fas fa-home"></i> <span>Dashboard</span>
			</a></li>
			<!-- Nav Item - Dashboard -->
			<li class="nav-item"><a class="nav-link" href="/admin/products">
					<i class="fas fa-cubes"></i> <span>Products</span>
			</a></li>
			<!-- Nav Item - Dashboard -->
			<li class="nav-item"><a class="nav-link" href="/admin/accounts">
					<i class="fas fa-user"></i> <span>Accounts</span>
			</a></li>
			<!-- Nav Item - Dashboard -->
			<li class="nav-item"><a class="nav-link" href="/admin/orders">
					<i class="fas fa-cog"></i> <span>Orders</span>
			</a></li>

			<!-- Nav Item - Dashboard -->
			<!--        <li sec:authorize="hasRole('ROLE_SHIP')"  class="nav-item"><a class="nav-link"-->
			<!--                                href="/admin/shipping"> <i class="fas fa-fw fa-tachometer-alt"></i>-->
			<!--            <span>Shipping</span></a>-->
			<!--        </li>-->

			<li class="nav-item"><a class="nav-link" href="/statistical">
					<i class="fas fa-chart-bar"></i> <span>Statistical</span>
			</a></li>

			<!-- Nav Item - Dashboard -->
			<li class="nav-item"><a class="nav-link" href="/admin/blog">
					<i class="fas fa-pencil-alt"></i> <span>Blog</span>
			</a></li>
			<li class="nav-item"><a class="nav-link" href="/admin/voucher">
					<i class="fas fa-ticket-alt"></i> <span>Voucher</span>
			</a></li>
			<li class="nav-item"><a class="nav-link"
				href="/admin/productImage"> <i class="far fa-image"></i> <span>Product
						Image</span></a></li>

			<li class="nav-item"><a class="nav-link"
				href="/auth/logoff/success"> <i
					class="fa-solid fa-right-from-bracket"></i> <span>Log Out</span></a></li>

			<!-- Sidebar Toggler (Sidebar) -->
			<div class="text-center d-none d-md-inline">
				<button class="rounded-circle border-0" id="sidebarToggle"></button>
			</div>
		</ul>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column vh-100">
			<!--        <div id="columnchart_values" style="width: 900px; height: 300px;"></div>-->
			<div class="container color-text">
				<div class="row select-time">
					<div class="col-6">
						<label for="year">Year:</label> <select class="form-control"
							id="year"></select>
					</div>
					<div class="col-6">
						<label for="month">Month:</label> <select class="form-control"
							id="month">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
						</select>
					</div>
					<!--                <div class="col-4">-->
					<!--                    <label for="day">Day:</label>-->
					<!--                    <select  class="form-control" id="day"></select>-->
					<!--                </div>-->
					<!--                    <canvas class="" id="TotalRevenueChart" width="400px" height="200px"></canvas>-->
					<h3></h3>
				</div>
				<h3 class="m-auto">Tổng doand thu theo tháng</h3>

				<canvas class="" id="revenueChart" width="400px" height="200px"></canvas>
				<canvas class="" id="CountOrderChar" width="400px" height="200px"></canvas>
				<h5 class="m-auto">
					Tổng doand thu năm <b id="year1"></b>: <span id="sum1"></span> VNĐ
				</h5>
				<h5 class="m-auto">
					Tổng Tổng số hóa đã giao đơn năm <b id="year2"> </b>: <span id="sum2"></span>
					đơn
				</h5>
			</div>


		</div>

	</div>
	<!-- End of Content Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready
					to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="/auth/logoff/success">Logout</a>
				</div>
			</div>
		</div>
	</div>

	<script>
		var sortingOrder = 'name';
	</script>
	<!--<script src="/js/adminJs/Input3date.js"></script>-->
	<script src="/js/adminJs/broadband.js"></script>
	<!-- Bootstrap core JavaScript-->
	<script src="/vendor-admin/jquery/jquery.min.js"></script>
	<script src="/vendor-admin/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/vendor-admin/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="/js/adminJs/sb-admin-2.min.js"></script>

	<!-- Page level plugins -->
	<script src="/vendor-admin/chart.js/Chart.min.js"></script>

	<!-- Page level custom scripts -->
	<script src="/js/adminJs/demo/chart-area-demo.js"></script>
	<script src="/js/adminJs/demo/chart-pie-demo.js"></script>
	<script src="/js/highcharts.js"></script>
	<script src="/jquery.js"></script>

	<!-- Page level plugins -->
	<!--<script src="/vendor-admin/datatables/jquery.dataTables.min.js"></script>-->
	<!--<script src="/vendor-admin/datatables/dataTables.bootstrap4.min.js"></script>-->

	<!-- Page level custom scripts -->
	<!--<script src="/js/adminJs/demo/datatables-demo.js"></script>-->


</body>

</html>
