<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:fragment="dynamic(main)" xmlns:ng="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Dashboard</title>

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
            rel="stylesheet">
    <script
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <!-- Custom fonts for this template-->
    <link href="/vendor-admin/fontawesome-free/css/all.min.css"
          rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/adminStyle/sb-admin-2.min.css" rel="stylesheet">
    <!-- Custom styles for table -->
    <link href="/vendor-admin/datatables/dataTables.bootstrap4.min.css"
          rel="stylesheet">

</head>

<body id="page-top" ng-app="app" ng-controller="ctrl">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="~{admin/index :: sidebar}"></ul>
    <!-- End of Sidebar -->
	
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column vh-100">
        <main>
            <div class="ml-5 mt-5">
                <div class="panel panel-primary">
                    <div class="panel-heading">YOUR PURCHASED ORDERS</div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Order No.</th>
                            <th>Order Date</th>
                            <th>Shipping Address</th>
                            <th>Total Amount</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="order in items | startFrom:currentPage*pageSize | limitTo:pageSize | orderBy:'createDate' ">
                            <td>{{order.id}}</td>
                            <td>{{order.createDate}}</td>
                            <td>{{order.address}}</td>
                            <td>{{order.totalAmount | currency:''}} đ</td>
<!--                            <td class="font-weight-bold" ng-class="{-->
<!--                'text-warning': order.status === 0,-->
<!--                'text-success': order.status === 1,-->
<!--                'text-primary': order.status === 2,-->
<!--                'text-secondary ': order.status === 3,-->
<!--                'text-danger': order.status === 4-->
<!--            }">-->
<!--                                {{order.status === 0 ? 'Đang xác nhận' : order.status === 1 ? 'Đã thanh toán' : order.status === 2 ? 'Đã giao' : order.status === 3 ? 'Trả hàng' : 'Đã hủy'}}-->
<!--                            </td>-->
                            <td>
                                <button class="btn btn-danger" ng-if="order.status === 0 || order.status === 2"  ng-click="updateStatus(order, 4)">Hủy đơn hàng</button>
                                <button class="btn btn-primary" ng-if="order.status === 1" ng-click="updateStatus(order, 1)">Giao hàng</button>
                                <button class="btn btn-success" ng-if="order.status === 4" ng-click="updateStatus(order, 0)">Hoàn tác</button>
                            </td>
                            <td><a ng-href="order/{{order.id}}"> <i class="bi bi-search"></i> </a></td>
                        </tr>
                        </tbody>
                    </table>

                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#" ng-disabled="currentPage == 0"
                                                     ng-click="currentPage=currentPage-1">Previous</a></li>
                            </li>
                            <li ng-repeat="n in range(numberOfPages())" class="page-item"
                                ng-class="{active: n == currentPage}"
                                ng-click="setPage()">
                                <a class="page-link" href ng-bind="n + 1">1</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#"
                                                     ng-disabled="currentPage >= items.length/pageSize - 1"
                                                     ng-click="currentPage=currentPage+1">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </main>
        
    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top"> <i
        class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready
                to end your current session.
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button"
                        data-dismiss="modal">Cancel
                </button>
                <a class="btn btn-primary" href="/auth/logoff/success">Logout</a>
            </div>
        </div>
    </div>
</div>
<script>
    var sortingOrder = 'name';
</script>
<script src="/js/adminJs/order.js"></script>
<!-- Bootstrap core JavaScript-->
<script src="/vendor-admin/jquery/jquery.min.js"></script>
<script src="/vendor-admin/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor-admin/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/adminJs/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor-admin/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/adminJs/demo/chart-area-demo.js"></script>
<script src="/js/adminJs/demo/chart-pie-demo.js"></script>


<!-- Page level plugins -->
<!--<script src="/vendor-admin/datatables/jquery.dataTables.min.js"></script>-->
<!--<script src="/vendor-admin/datatables/dataTables.bootstrap4.min.js"></script>-->

<!-- Page level custom scripts -->
<!--<script src="/js/adminJs/demo/datatables-demo.js"></script>-->


</body>

</html>