<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Dashboard</title>
    <link th:href="@{/images/icons/favicon.png}" rel="icon" type="image/png" />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
            rel="stylesheet">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Custom fonts for this template-->
    <link href="/vendor-admin/fontawesome-free/css/all.min.css"
          rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/adminStyle/sb-admin-2.min.css" rel="stylesheet">
    <!-- Custom styles for table -->
    <link href="/vendor-admin/datatables/dataTables.bootstrap4.min.css"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/assets/css/list-account.css}">
    <link rel="stylesheet" th:href="@{/assets/css/account-infomatinon.css}">
    <link rel="stylesheet" th:href="@{/assets/css/button17.css}">
    <link rel="stylesheet" th:href="@{/assets/css/button50.css}">
    <link rel="stylesheet" th:href="@{/assets/css/popup.css}">
</head>

<body id="page-top" ng-app="app" ng-controller="ctrl">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
<!--    <ul th:replace="~{admin/index :: sidebar}"></ul>-->
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column vh-100">

        <div class="table-list-acc">
            <section class="table-header">
                <h1>Account</h1>
            </section>
            <section class="table-body">
                <table class="tbl-acc">
                    <thead>
                    <tr>
                        <th>Order No.</th>
                        <th>Phone number</th>
                        <th>Name purchaser</th>
                        <th>Address</th>
                        <th>Status</th>
                        <th>Detail</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="ship, iterStat : ${listShipping}">
                        <td>[[${iterStat.count}]]</td>
                       <td>[[${ship.account.phonenumber}]]</td>
                       <td>[[${ship.account.username}]]</td>
                       <td>[[${ship.address}]]</td>
                        <td></td>
                        <td><a href="#" th:attr="ng-click=@{|open()|}"
                                                     class="btn-detail">Xem chi tiết</a></td>
                    </tr>

                    </tbody>
                </table>
            </section>
        </div>

    </div>
    <!-- End of Content Wrapper -->


</div>
<!-- End of Page Wrapper -->



<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top"> <i
        class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready
                to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button"
                        data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/auth/logoff/success">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Acc detail form  -->
<div th:fragment="infomation-account" class="container-acc-detail">
    <form class="acc-detail"
          ng-class="{ 'open-acc-detail': isOpenAccDetail }" id="acc-detail"
          action="">



            <div class="button-row">
                <button class="button-50 cancel-btn50" type="button"
                        ng-click="CloseAccDetail()" role="button">Cancel</button>
            </div>

    </form>
</div>

<div class="popup" ng-class="{ 'open-popup': isPopupOpen }">
    <img th:src="@{/images/icons/tick.png}" alt="">
    <h2>Success</h2>
    <p>The change has been updated, please refresh the page to verify.</p>
    <button type="button" ng-click="closePopup()">OK</button>
</div>

<div class="popup-auth-update" ng-class="{ 'open-popup': isAuthPopupOpen }" id="popup">
    <img th:src="@{/images/icons/question_mark_PNG55.png}" alt="">
    <h2>Warning</h2>
    <p>Are you sure about this operation?</p>
    <div class="box-btn">
        <button type="button" class="btn-alert-confirm"
                ng-click = "accDetail.updateRoleUser()">OK</button>
        <button type="button" class="btn-alert-cancel" ng-click = "AuthPopupClose()">Cancel</button>
    </div>

</div>

<div class="popup-auth-update" ng-class="{ 'open-popup': isUpdatePopupOpen }" id="popup">
    <img th:src="@{/images/icons/question_mark_PNG55.png}" alt="">
    <h2>Warning</h2>
    <p>Are you sure about this operation?</p>
    <div class="box-btn">
        <button type="button" class="btn-alert-confirm"
                ng-click = "accDetail.updateDataAccount()">OK</button>
        <button type="button" class="btn-alert-cancel" ng-click = "UpdatePopupClose()">Cancel</button>
    </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script th:src="@{/js/ship.js}"></script>
<script th:src="@{/assets/js/popup.js}"></script>

</body>

</html>