<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="dynamic(main)">
<head>

<title>Product Detail</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<link th:href="@{/assets/css/shopping-cart-app.css}" rel="stylesheet" />
<link th:href="@{/assets/css/luckyspin.css}" rel="stylesheet" />
<!--===============================================================================================-->
<link rel="icon" type="image/png" th:href="@{/images/icons/favicon.png}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/fonts/linearicons-v1.0.0/icon-font.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/animate/animate.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/css-hamburgers/hamburgers.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/animsition/css/animsition.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/select2/select2.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/daterangepicker/daterangepicker.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/slick/slick.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/MagnificPopup/magnific-popup.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
<!--===============================================================================================-->
</head>

<body class="animsition"  ng-app="app" ng-controller="cart-ctrl">

	<!-- Header -->
	<header th:replace="user/index :: header"> </header>

	<!-- Cart -->
	<div th:replace="user/index :: cart"></div>

	<main>
		<div ng-controller="luckyspin-ctrl" class="luckyspin-container">

			<div class="turn-left">
				<section class="main">
					<span class="span-luckyspin">
						<ul class="wheel" lucky-wheel list-gift="listGift"></ul>
					</span>
					<button ng-click="startSpin()" class="btn--wheel">Quay thưởng</button>
				</section>
				<h1 class="msg"></h1>
			</div>

			<div class="turn-right">
				<div class = "reward-list">
					<div class="box">
						<h2>DANH SÁCH NHẬN THƯỞNG</h2>
						<ul>
							<li><span>1</span> List Item One</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</main>

	<!-- Footer -->
	<footer th:replace="user/index :: footer"></footer>


	<!-- Back to top -->
	<div th:replace="user/index :: backtop"></div>

	<!-- Modal1 -->
	<script th:src="@{/assets/js/shopping-cart-app.js}"></script>
	<script th:src="@{/assets/js/shopping-cart-ctrl.js}"></script>
	<script th:src="@{/assets/js/lucky-spin.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/vendor/bootstrap/js/popper.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/vendor/select2/select2.min.js}"></script>
	<script>
		$(".js-select2").each(function() {
			$(this).select2({
				minimumResultsForSearch : 20,
				dropdownParent : $(this).next('.dropDownSelect2')
			});
		})
	</script>
	<!--===============================================================================================-->
	<script th:src="@{/vendor/daterangepicker/moment.min.js}"></script>
	<script th:src="@{/vendor/daterangepicker/daterangepicker.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/vendor/slick/slick.min.js}"></script>
	<script th:src="@{/js/slick-custom.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/vendor/parallax100/parallax100.js}"></script>
	<script>
		$('.parallax100').parallax100();
	</script>
	<!--===============================================================================================-->
	<script th:src="@{/vendor/MagnificPopup/jquery.magnific-popup.min.js}"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
				delegate : 'a', // the selector for gallery item
				type : 'image',
				gallery : {
					enabled : true
				},
				mainClass : 'mfp-fade'
			});
		});
	</script>
	<!--===============================================================================================-->
	<script th:src="@{/vendor/isotope/isotope.pkgd.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/vendor/sweetalert/sweetalert.min.js}"></script>
	<script>
		$('.js-addwish-b2, .js-addwish-detail').on('click', function(e) {
			e.preventDefault();
		});

		$('.js-addwish-b2').each(
				function() {
					var nameProduct = $(this).parent().parent().find(
							'.js-name-b2').html();
					$(this).on('click', function() {
						swal(nameProduct, "is added to wishlist !", "success");

						$(this).addClass('js-addedwish-b2');
						$(this).off('click');
					});
				});

		$('.js-addwish-detail').each(
				function() {
					var nameProduct = $(this).parent().parent().parent().find(
							'.js-name-detail').html();

					$(this).on('click', function() {
						swal(nameProduct, "is added to wishlist !", "success");

						$(this).addClass('js-addedwish-detail');
						$(this).off('click');
					});
				});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(
				function() {
					var nameProduct = $(this).parent().parent().parent()
							.parent().find('.js-name-detail').html();
					$(this).on('click', function() {
						swal(nameProduct, "is added to cart !", "success");
					});
				});
	</script>
	<!--===============================================================================================-->
	<script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
	<script>
		$('.js-pscroll').each(function() {
			$(this).css('position', 'relative');
			$(this).css('overflow', 'hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed : 1,
				scrollingThreshold : 1000,
				wheelPropagation : false,
			});

			$(window).on('resize', function() {
				ps.update();
			})
		});
	</script>
	<!--===============================================================================================-->
	<script th:src="@{/js/main.js}"></script>

</body>
</html>