<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script th:src="@{/assets/js/shopping-cart-app.js}"></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<title>Shopping Cart</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" th:href="@{/images/icons/favicon.png}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{../../static/vendor/bootstrap/css/bootstrap.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{../../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{../../static/fonts/iconic/css/material-design-iconic-font.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{../../static/fonts/linearicons-v1.0.0/icon-font.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{../../static/vendor/animate/animate.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{../../static/vendor/css-hamburgers/hamburgers.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{../../static/vendor/animsition/css/animsition.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{../../static/vendor/select2/select2.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{../../static/vendor/perfect-scrollbar/perfect-scrollbar.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{../../static/assets/css/payment.css}">
<link rel="stylesheet" th:href="@{/assets/css/popup.css}">
<link rel="stylesheet" th:href="@{/assets/css/otp.css}">
<!--===============================================================================================-->

</head>
<body ng-app="app" ng-controller="cart-ctrl" class="container">
	<!-- Header -->
	<header th:replace="./index :: header"></header>

	<!-- Cart -->
	<div th:replace="./index :: cart"></div>

	<div class="card">
		<h1 class="title-card ">Thông Tin Hóa Đơn</h1>
		<hr class="line-card">
		<div class="payment-container">
			<form name="myForm" action="">
				<div class="pm-rw">
					<div class="col">
						<h3 class="title">
							Order: <span id="order-id" ng-value="orderId">[[${orderId}]]</span>
						</h3>
						<div class="inputBox">
							<span>Họ tên : </span> <input type="text" placeholder="Name"
								name="" id="" value="{{$auth.surname + ' ' + $auth.name}}">
						</div>
						<div class="inputBox">
							<span>Số điện thoại : </span> <input
								ng-change="validatePhoneNumber()" ng-pattern="/^\d+$/"
								ng-model="$auth.phonenumber" maxlength="10" type="text"
								placeholder="Chưa cập nhật" name="" id="deliveryPhone" required>
						</div>

						<div class="inputBox">
							<span>Ngày tạo đơn : </span> <input type="text" readonly
								class="not-allowed" placeholder="Name" name="" id=""
								value="{{order.createDate | date :
						'dd-MM-yyyy'}}">
						</div>

						<div class="inputBox">
							<span>Email</span> <input type="text" placeholder="Address"
								readonly class="not-allowed" name="" id="email"
								value="{{$auth.email}}">
						</div>

					</div>

					<div class="col">
						<h3 class="title"></h3>
						<span>Địa chỉ giao hàng</span>
						<div class="flex flex-box-1">
							<div class="inputBox">

								<span for="province">Tỉnh/Thành phố:</span> <select
									class="form-control select-box" id="province">
									<!-- Thêm các option cho tỉnh/thành phố -->
								</select>
							</div>
							<div class="inputBox">
								<span for="district">Quận/Huyện:</span> <select
									class="form-control select-box" id="district">
									<option value="">Chọn quận</option>
									<!-- Thêm các option cho quận/huyện -->
								</select>
							</div>
						</div>

						<div class="flex">

							<div class="inputBox">
								<span for="ward" class="title-inputBox">Phường/Xã:</span> <select
									class="form-control select-box" id="ward">
									<option value="">Chọn phường</option>
									<!-- Thêm các option cho phường/xã -->
								</select>

							</div>
							<div class="inputBox">
								<span class="title-inputBox">Tên đường, số Nhà : </span> <input
									type="text" placeholder="Tên đường và số nhà" name=""
									id="numberHourAndstreetName">
							</div>
						</div>

						<div class="inputBox inputBox-fix">
							<span>Xác nhận địa chỉ: </span>
							<textarea rows="3" placeholder="Địa chỉ đầy đủ"
								id="deliveryAddress" ng-model="$auth.delivery_address" required></textarea>
						</div>



					</div>

				</div>
				<div class="payment-box">
					<span class="title-payment-box">Hình thức thanh toán: </span>
					<div class="payment_method">
						<input type="button" ng-click="order.purchase()" value="COD"
							class="submit-btn cod" name="" id=""> <input
							type="submit" value="MOMO" class="submit-btn momo" name="" id="">
						<input type="button"  ng-click="order.vnpayPurchase()" value="VNPAY" class="submit-btn vnpay"
							name="" id="">
					</div>
				</div>
			</form>
		</div>
	</div>

	<form class="bg0 p-b-85">
		<div class="container">
			<div ng-if="!cart.items.length" class="panel-body text-center">
				<h3 style="font-variant: small-caps;">No items in your shopping
					cart</h3>
			</div>
			<div class="row">
				<div class="col-lg-12 col-xl-12 m-lr-auto">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-table-shopping-cart checkout" style="padding: 50px">
							<table class="table-shopping-cart" ng-if="cart.items.length">
								<tr class="table_head">
									<th>Name Product</th>
									<th>Photo</th>
									<th>Quantity</th>
									<th>Price</th>
									<th>Total</th>
									
								</tr>
								<tr class="table_row" ng-repeat="item in cart.items">
									<td>{{item.name}}</td>
									<td><img ng-src="{{item.main_image}}" width="100px"></td>

									<td><input ng-change="cart.saveToLocalStorage()"
										ng-model="item.qty" type="number" name="quantityField" min="1"
										max="10" required style="width: 60px; text-align: center;" />
									</td>

									<td>{{ item.price | currency:"" }}đ</td>
									<td>{{ (item.qty * item.price) | number:0 }}đ</td>
									
								</tr>
							</table>

						</div>

						<div
							class="flex-w bor15 checkout p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
							<div class="flex-w flex-m m-r-20 m-tb-5">
								<input
									class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5"
									type="text" name="coupon" placeholder="Voucher Code">

								<div ng-click = "openListVoucher()"
									class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
									Apply Voucher</div>
							</div>
							<div class="flex-w flex-t p-t-27 p-b-33">
							<div class="size-208">
								<span class="mtext-101 cl2"> Total: </span>
							</div>

							<div class="size-209 p-t-1">
								<span class="mtext-110 cl2"> {{cart.amount | 
									currency:""}}đ </span>
							</div>
						</div>
						</div>
						
					</div>
				</div>

				<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-t-20 m-b-20"
					ng-if="cart.items.length">
					<div
						class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
						<h4 class="mtext-109 cl2 p-b-30">Cart Totals</h4>

						<div class="flex-w flex-t bor12 p-b-13">
							<div class="size-208">
								<span class="stext-110 cl2"> Subtotal: </span>
							</div>

							<div class="size-209">
								<span class="mtext-110 cl2" >{{subtotal | number:0}}đ  </span>
							</div>
						</div>

						<div class="flex-w flex-t p-t-27 p-b-33">
							<div class="size-208">
								<span class="mtext-101 cl2"> Total payment: </span>
							</div>

							<div class="size-209 p-t-1">
								<span style="font-size: 25px; color: green; font-weight: bold;" id = "amountUrl" class="mtext-110 cl2"> {{totalDiscount |
									number:0}}đ </span>
							</div>
						</div>

						<!-- <button th:attr="ng-click=@{|/order/checkout|}"
							class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer" >
							Proceed to Checkout</button> -->

					</div>
				</div>
			</div>
		</div>
	</form>


	<!-- Alert -->
	<div class="popup" ng-class="{ 'open-popup': isPopupOpen }">
		<img ng-src="{{ iconUrlPopup }}" alt="">
		<h2 ng-bind="PopupTitle"></h2>
		<p ng-bind="PopupMessage"></p>
		<button type="button" ng-click="closePopup()">OK</button>
	</div>
	
	
	<div class="popup" ng-class="{ 'open-popup': isApiPayment }">
		<img ng-src="{{ iconUrlPopup }}" alt="">
		<h2 ng-bind="PopupTitle"></h2>
		<p ng-bind="PopupMessage"></p>
		<button type="button" ng-click="openPaymentApiUrl()">Chuyển hướng</button>
	</div>
	
	<div class="popup" ng-class="{ 'open-popup': isPopupOpenOTP }">
		<img ng-src="{{ iconUrlPopup }}" alt="">
		<h2 ng-bind="PopupTitle"></h2>
		<p ng-bind="PopupMessage"></p>
		<div class="otp-container">
			<div id="inputs-otp" class="inputs-otp">
				<input class="input-otp" type="text" inputmode="numeric"
					maxlength="1" ng-model="otp[0]" /> <input class="input-otp"
					type="text" inputmode="numeric" maxlength="1" ng-model="otp[1]" />
				<input class="input-otp" type="text" inputmode="numeric"
					maxlength="1" ng-model="otp[2]" /> <input class="input-otp"
					type="text" inputmode="numeric" maxlength="1" ng-model="otp[3]" />
				<input class="input-otp" type="text" inputmode="numeric"
					maxlength="1" ng-model="otp[4]" /> <input class="input-otp"
					type="text" inputmode="numeric" maxlength="1" ng-model="otp[5]" />
			</div>
		</div>
		<button type="button" ng-click="comfirmOTP()">Verify OTP</button>
	</div>
	
	<div class="popup" ng-class="{ 'open-listVoucher': isListVoucherOpen }">
		<img ng-src="{{ iconUrlPopup }}" alt="">
		<h3>Voucher của bạn</h3>
		<div class = "listVoucher">
			<button class="button-voucher" ng-repeat = "vou in listVoucherAPI" 
			 ng-click="selectVoucher(vou)"  
			 ng-class="{ 'disable-voucher': vou.disable, 'selected-button': vou.selected }">
				<div class = "infomation-voucher">
				<span>&emsp;Mã voucher: {{vou.voucherCode.voucherCode}}</span>
				<span>HSD: {{vou.voucherCode.endDate | date:'dd/MM/yyyy'}}&emsp;</span>
				</div>
				<hr>
				<span>{{vou.voucherCode.description}}</span>
			</button>
			
		</div>
		<div class = "btn-vou-box">
			<button class = "btn-vou-apply" type="button" ng-click="applyVoucher()">Apply</button>
			<button class = "btn-vou-close" type="button" ng-click="closeVoucher()">Cancel</button>
		</div>
		
	</div>
	
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
		integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"
		integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<!-- Footer -->
	<footer th:replace="./index :: footer"></footer>
	<script th:src="@{/js/adress.js}"></script>

	<!-- Back to top -->
	<div th:replace="./index :: backtop"></div>

	<!--===============================================================================================-->
	<script th:src="@{../../static/vendor/jquery/jquery-3.2.1.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{../../static/vendor/animsition/js/animsition.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{../../static/vendor/bootstrap/js/popper.js}"></script>
	<script th:src="@{../../static/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{../../static/vendor/select2/select2.min.js}"></script>
	<script>
		$(".js-select2").each(function() {
			$(this).select2({
				minimumResultsForSearch : 20,
				dropdownParent : $(this).next('.dropDownSelect2')
			});
		})
	</script>
	<!--===============================================================================================-->
	<script th:src="@{../../static/vendor/MagnificPopup/jquery.magnific-popup.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{../../static/vendor/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
	<script>
		$('.js-pscroll').each(function() {
			$(this).css('position', 'relative');
			$(this).css('overflow', 'hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed : 1,
				scrollingThreshold : 1000,
				wheelPropagation : false,
			});

			$(window).on('resize', function() {
				ps.update();
			})
		});
		/* app.controller('cart-ctrl', function($scope) {
		    // ... các mã khác trong controller

		    $scope.order = {
		        // ... các thông tin đặt hàng khác
		        address: '',
		        purchase: function() {
		            // Kiểm tra tính hợp lệ trước khi thực hiện đặt hàng
		            if (!$scope.order.address) {
		                $scope.addressError = true;
		            } else {
		                $scope.addressError = false;
		                // Tiến hành đặt hàng nếu địa chỉ hợp lệ
		                // ... tiến hành đặt hàng ở đây
		            }
		        }
		    };
		}); */
	</script>
	<!--===============================================================================================-->
	<script th:src="@{../../static/js/main.js}"></script>
	<script th:src="@{../../static/assets/js/otp-input.js}"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>

</body>
</html>
