<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{../../static/assets/css/api-payment.css}">
<title>Document</title>
</head>
<body ng-app="app-payment-return" ng-controller="ctrl-payment-return">
<span sec:authentication="name" id="user-name"></span>
	<div class="container-popup">
		<div class="popup open-popup" id="popup">
            <img src="https://theme.hstatic.net/200000462939/1001112173/14/logo.png?v=264" class="logo-img" alt="">
            <hr>
            <img th:src="@{../../static/images/icons/tick.png}" alt="">
            <h2>Thông báo</h2>
            <p>Bạn đã thanh toán đơn hàng thành công</p>

            <div class="box-center">
                <div class="transaction-time">
                    <p class="p-time">Mã đơn hàng:</p>
                    <h3 id = "orderId">[[${orderId}]]</h3>
                </div>
    
                <div class="transaction-time">
                    <p class="p-time">Thời gian giao dịch:</p>
                    <h3>[[${transactionTime}]]</h3>
                </div>
            </div>

            <button type="button" ng-click = "redirectUrl()">Xem đơn đặt hàng</button>
            <hr>
            <div>  
                <br>
                <h3 class="footer-text">Cảm ơn quý khách đã sử dụng dịch vụ của chúng tôi</h3>
            </div>

        </div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script th:src="@{../../static/assets/js/payment-return.js}"></script>
</body>

</html>