<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account Infomation</title>
    <link th:href="@{/images/icons/favicon.png}" rel="icon" type="image/png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/account-infomatinon.css">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/assets/css/account-infomatinon.css}">
    <link rel="stylesheet" th:href="@{/assets/css/button17.css}">
    <link rel="stylesheet" th:href="@{/assets/css/button50.css}">
    <link rel="stylesheet" th:href="@{/assets/css/popup.css}">
    <link rel="stylesheet" th:href="@{/assets/css/bonus.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">


</head>

<body ng-app="app-account" ng-controller="ctrl-account">

<video autoplay muted loop id="background-video">
    <source src="/images/backgrourd-video.mp4" type="video/mp4">
</video>
<!-- Your other content goes here -->

<!-- Acc detail form  -->
<div class="container-acc-detail justify-content-center">
    <form class="acc-detail open-acc-detail adt2" id="acc-detail" method="post" th:action="@{/voucher/{code}}" th:object="${voucher}">
        <div
                class="flex-w bor15 checkout p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
            <div class="flex-w flex-m m-r-20 m-tb-5">
                <input name="code" th:value="${code}"
                       class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5"
                       type="text" placeholder="Voucher Code">

                <button type="submit"
                        class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
                    Apply Voucher</button>
            </div>
        </div>


        <div>
            <section class="table-header">
                <h1>Voucher hiện có</h1>
            </section>
            <section>
                <table class="table table-bordered w-100 mt-2 mb-2">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Tên voucher</th>
                        <th>Giảm giá</th>
                        <!--                        <th>Loại voucher</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="v, iterStat : ${listVoucher}">
                        <td>[[${iterStat.count}]]</td>
                        <td>[[${v.name}]]</td>
                        <td>[[${v.discount}]] %</td>
                    </tr>

                    </tbody>
                </table>
            </section>
        </div>
    </form>

</div>


<div class="popup-auth-update"
     ng-class="{ 'open-popup': isUpdatePopupOpen }" id="popup">
    <img th:src="@{/images/icons/question_mark_PNG55.png}" alt="">
    <h2>Warning</h2>
    <p>Are you sure about this operation?</p>
    <div class="box-btn">
        <button type="button" class="btn-alert-confirm"
                ng-click="accDetail.updateDataAccount()">OK</button>
        <button type="button" class="btn-alert-cancel"
                ng-click="UpdatePopupClose()">Cancel</button>
    </div>

</div>

<div class="popup" ng-class="{ 'open-popup': isPopupOpen }">
    <img th:src="@{/images/icons/tick.png}" alt="">
    <h2>Success</h2>
    <p>The change has been updated, please refresh the page to verify.</p>
    <button type="button" ng-click="closePopup()">OK</button>
</div>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script th:src="@{/assets/js/account-detail.js}"></script>
<script th:src="@{/assets/js/popup.js}"></script>
<script th:src="@{/assets/js/voucher.js}"></script>
<script>

</script>
</body>

</html>