<div th:fragment="order-list" id="content-wrapper" class="d-flex flex-column vh-100" >

    <span sec:authentication="name" id="user-name"></span>

    <div class="table-list-acc">
        <section class="table-header">
            <h1>Danh sách hóa đơn</h1>
        </section>
        <section class="table-body">
            <table class="tbl-acc">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Order ID</th>
                        <th>Phone number</th>
                        <th>Name purchaser</th>
                        <th>Address</th>
                        <th>Status</th>
                        <th>Detail</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="sale, iterStat : ${listSale}">
                        <td>[[${iterStat.count}]]</td>
                        <td>[[${sale.orderId}]]</td>
                        <td>[[${sale.delivery_phone}]]</td>
                        <td>[[${sale.account.surname}]] [[${sale.account.name}]] </td>
                        <td>[[${sale.address}]]</td>
                        <td class="table-order-body">
                            <span th:switch="${sale.orderStatus}">
                                <span th:class="'orderstt stt' + ${sale.orderStatus}" th:case="0">Hủy đơn</span>
                                <span th:class="'orderstt stt' + ${sale.orderStatus}" th:case="1">Đang xác
                                    nhận</span>
                                <span th:class="'orderstt stt' + ${sale.orderStatus}" th:case="2">Đã xác
                                    nhận</span>
                                <span th:class="'orderstt stt' + ${sale.orderStatus}" th:case="3">Đang
                                    giao</span>
                                <span th:class="'orderstt stt' + ${sale.orderStatus}" th:case="4">Đã giao</span>
                                <span th:class="'orderstt stt' + ${sale.orderStatus}" th:case="5">Trả
                                    hàng</span>
                                <span th:class="'orderstt stt' + ${sale.orderStatus}" th:case="*">Trạng thái
                                    không xác định</span>
                            </span>
                        </td>
                        <td><a href="#" th:attr="ng-click=@{|saleDetail.getDetailSale('${sale.orderId}')|}"
                                class="btn-detail">Xem chi tiết</a></td>
                    </tr>

                </tbody>
            </table>
        </section>
    </div>

</div>