@import
	url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-transform: capitalize;
	transition: all .2s linear;
}

.payment-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 25px;
	min-height: 75vh;
}

.payment-container form {
	padding: 20px;
	width: 1000px;
	background: #fff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.card .title-card {
	margin: 30px 0 0 35%;
}

.payment-box{
	margin-top: 30px;
    display: inline-flex;
    align-items: center;
    margin-left: 16%;
}

.payment-box .title-payment-box{
	font-size: 20px
}

.card .line-card {
	background: blue;
	height: 3px;
	width: 360px;
	margin: 5px 0 0 35%;
	border-radius: 30px;
}

.payment-container form .pm-rw {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

.payment-container form .pm-rw .col {
	flex: 1 1 250px;
}

.payment-container form .pm-rw .col .title {
	font-size: 20px;
	color: #333;
	padding-bottom: 5px;
	text-transform: uppercase;
}

.payment-container form .pm-rw .col .inputBox {
	margin: 15px 0;
}

.payment_method {
	height: 45px;
	display: flex;
	align-items: center;
}

.directly {
	float: left;
	margin-right: 20px;
}

.directly #directly {
	margin: 0;
	width: 15px;
}

.transfer #transfer {
	margin: 0;
	width: 15px;
}

.payment-container form .pm-rw .col .inputBox span {
	margin-bottom: 10px;
	display: block;
}

.payment-container form .pm-rw .col .select-box {
	border: 1px solid #ccc;
	height: 45px;
	width: 210px;
}

.payment-container form .pm-rw .col .inputBox input {
	width: 100%;
	border: 1px solid #ccc;
	padding: 10px 15px;
	font-size: 15px;
	text-transform: none;
}

.payment-container form .pm-rw .col .inputBox textarea {
	width: 100%;
	height: 136px;
	border: 1px solid #ccc;
	padding: 10px 15px;
	font-size: 15px;
	text-transform: none;
}

.payment-container form .pm-rw .col .inputBox .title-inputBox {
	margin-bottom: 7px;
}

.payment-container form .pm-rw .col .inputBox .not-allowed{
	cursor: not-allowed; 
	
}

.payment-container form .pm-rw .col .inputBox-fix {
	margin-top: 0;
	margin-bottom: 12px;
}

.payment-container form .pm-rw .col .inputBox input:focus {
	border: 1px solid #000;
}

.payment-container form .pm-rw .col .flex {
	display: flex;
	gap: 15px;
}

.payment-container form .pm-rw .col .flex-box-1 {
	margin-top: 6px;
}

.payment-container form .pm-rw .col .flex .inputBox {
	margin-top: 5px;
}

.payment-container form .pm-rw .col .inputBox img {
	height: 34px;
	margin-top: 5px;
	filter: drop-shadow(0 0 1px #000);
}

.payment-container form .submit-btn {
	width: 120px;
    margin: 0px 10px 0px 10px;
	padding: 12px;
	font-size: 17px;
	background: #fea809;
	color: #fff;
	margin-top: 5px;
	cursor: pointer;
}

.payment-container form .submit-btn.momo {
	background-color: #CC0066
}

.payment-container form .submit-btn.vnpay {
	background-color: #0080FF
}

.payment-container form .submit-btn:hover {
	background: #00F048;
}

.disabled {
	color: gray;
	pointer-events: none;
}

.disabled::placeholder {
	background-image:
		url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><path d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"/></svg>');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
}